<h3 md-dialog-title>Edit Product</h3>

<md-dialog-content>
  <form>
    <md-input-container class="full-width">
      <input mdInput placeholder="Product" value={{data.product}}>
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput placeholder="Threshold" value={{data.threshold}}>
    </md-input-container>
  </form>
</md-dialog-content>

<md-dialog-actions class="pull-right">
  <button class="btn btn-default dialog-action" md-dialog-close>Cancel</button>
  <button class="btn btn-primary dialog-action" md-dialog-close>Save Changes</button>
</md-dialog-actions>