<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{title}}</h3></div>
  <div class="panel-body">
    <md-input-container>
      <input mdInput placeholder="Product">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Current Qty">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Threshold">
    </md-input-container>

    <button type="button" class="btn btn-success pull-right">Submit</button>
  </div>
</div>