<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> {{title}}</h3></div>
  <div class="panel-body">
    <md-input-container class="inlineItem">
      <input mdInput placeholder="Product">
    </md-input-container>

    <md-select placeholder="Transaction type" class="inlineItem">
      <md-option *ngFor="let type of transactionTypes" [value]="type.value">
        {{ type.viewValue }}
      </md-option>
    </md-select>

    <md-input-container class="inlineItem">
      <input mdInput placeholder="Qty">
    </md-input-container>

    <button type="button" class="btn btn-primary inlineItem right">Submit</button>
  </div>
</div>