<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>

  <div class="panel-body">
    <table class="table">
      <tr>
        <th>#</th>
        <th>Product</th>
        <th>Qty</th>
      </tr>
      <tr>
        <td>1</td>
        <td>accusamus qui eius ullam dignissimos adipisci</td>
        <td>524</td>
      </tr>

      <tr>
        <td>2</td>
        <td> ipsam voluptate soluta? Aperiam</td>
        <td>314</td>
      </tr>

      <tr>
        <td>3</td>
        <td>consectetur adipisicing elit otam sapiente, beatae soluta</td>
        <td>514</td>
      </tr>
    </table>
  </div>

  <div class="panel-footer footer">
    <button type="button" class="btn btn-danger right">More</button>
  </div>
</div>
