<md-tab-group [(selectedIndex)] = index>
  <md-tab label="Dashboard">
  </md-tab>
  <md-tab label="Products">
  </md-tab>
</md-tab-group>

<section *ngIf="index == 0"><dashboard></dashboard></section>
<section *ngIf="index == 1"><product></product></section>
<!--<nav md-tab-nav-bar>
  <a md-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{tabLink.label}}
  </a>
</nav>

<router-outlet></router-outlet>-->